@charset "UTF-8";
/*  common
--------------------------------*/
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    color: #333333;
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    line-height: 1.615;
    font-size: 13px;
}

h1{
    color: #6c86a3;
    font-size: 32px;
    margin-top: 64px;
    text-align: center;
    margin-bottom: 12px;
}
h2{
    font-size: 15px;
    text-align: center;
    margin-bottom: 64px;
}

.ordered-a-area{
    display: flex;
    margin-bottom: 128px;
    overflow: hidden;
    flex-wrap: wrap;
}
.ordered-a-area .o-item{
    width: 33.3333%;
    cursor: pointer;
}
.ordered-a-area .o-item .pic{
    transition: 0.5s ease-in-out;
}
.ordered-a-area .o-item:hover .pic{
    opacity: 0.5;
}
.ordered-a-area .pic{
    text-align: center;
    width: auto;
    height: 500px;
}
.ordered-a-area:hover{
animation-name: heightchange;
animation-duration: 1s;
animation-delay: 0;
animation-timing-function: ease-in-out;
animation-iteration-count: 1;
animation-fill-mode: forwards;
overflow: visible;
}
.ordered-a-area .pic img{
    /* display: none; */
    width: auto;
    height: 100%;
}
.ordered-a-area table{
    width: 100%;
}
.ordered-a-area table tr td{
    width: 50%;
}
.ordered-a-area table tr td img{
    width: 100%;
    height: auto;
    opacity: 0;
}
.ordered-a-area .o-item.on table tr td img{
    opacity: 1;
}
.ordered-a-area div{
    margin-bottom: 64px;
}
body{
    padding-bottom: 200px;
}
.btn{
    margin-top: px;
}

@media(max-width: 767px){
    .ordered-a-area .o-item{
        width: 100%;
    }
    .ordered-a-area{
        display: block;
    }
}